# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# Static cache
*.log

# Large training data files
backend/test.jsonl
backend/train.jsonl