{% load i18n %}
{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your Equinox student account.{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
http://localhost:3000/reset-password/{{ uid }}/{{ token }}/

{% translate "Your username, in case you’ve forgotten:" %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The Equinox Team{% endblocktranslate %}
{% endautoescape %}